header {
    height: 65px;
    width: 100%;
    font-weight: bolder;
    background-color: rgb(27, 109, 157);
}
.headerlogo {
    float: left;
}
.headerlogo img{
    float: left;
    width: 120px;
    margin-top: 15px;
}
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Signika Negative', sans-serif;
}
#search-box{
    position:relative;
    border-radius: 10px;
    background-color: #ccc;
    width: 320px;
    float: left;
    margin-top: 13px;
    margin-left: 50px
}
#search-form{
    height: 30px;
    background-color:#fff;
    overflow:hidden;
    border-radius: inherit;
    padding-top: 2px;
    padding-bottom: 7px;
}
#search-text{
    font-size:13px; 
    border-width:0;
    background:transparent;
}
#search-box input[type="text"]{
    width:90%;
    padding:10px 0 5px 1em;
    color:#333;
    outline:none;
}
#search-box input {
    border-radius: 10px;
}
#search-button{
    position:absolute;
    top:5px;
    right:5px;
    height:30px;
    width:80px;
    color:#fff;
    text-align:center;
    border-width:0;
    background-color:#1a7db7;
    cursor:pointer;
    text-transform:uppercase;
    border-radius:10px;
    outline:0;
}
#search-button:hover{
    background:#333
}
.headerlist {
    float: right;
}   
.container {
    margin: 0px 50px 0px 50px;
}
.headerlist a {
    font-size: 10pt;
    padding: 0 10px;
    color: white;
    display: block;
    float: left;
    height: 25px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}
.headerlist a:hover {
    border-radius: 5px;
    background-color: rgba(190, 199, 238, 0.3);
    color: black;
}
.daftar {
    float: left;
}
.daftar a {
    color: #333;
    background-color: #EC9B3B;
    border-radius: 5px;
    padding-top: 12px;
    margin-top: 9px;
    margin-right: 5px;
    margin-left: 5px;
}
.masuk {
    float: left;
}
.masuk a{
    font-weight: bold;
    background-color: #94969b;
    color: #333;
    border-radius: 5px;
    padding-top: 12px;
    margin-top: 9px;
    margin-right: 5px;
}
.topwrapper {
    background:linear-gradient(rgb(27, 109, 157), rgba(20, 141, 117, 0.5)),  url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80
    );
    background-size: cover;
    color: white;
    margin-top: -21px;
    padding-bottom: 30px;
}
.topwrapper h2 {
    border-bottom: 2px solid #112B3C ;
    padding: 5px 0px 10px 5px;
}
.loginbox {
    display: flex;
    background-color: rgba(135, 141, 144, 0.3);
    backdrop-filter: blur(10px);

}
 
.loginclient {
    padding: 20px 50px 50px 50px;
    width: 100%;
    border-right: 3px solid     gray;
}
input {
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;  
}
#submit {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #EC9B3B;
    font-weight: bold;
}
.loginadmin {
    padding: 20px 50px 50px 50px;
    width: 100%;
}
.loginbox h3 {
    color: #EC9B3B;
}
.texta input {
    margin-top: -20px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
    background-color: hsl(0, 0%, 85%);
}

.footer{
    padding-top: 40px;
    color:#fff;
    background:#112B3C;
}
.footer table{
    height: 200px;
    width:90% ;
}
.footer table tr td ul{
    padding-left: 0px;
}

.footer a{
    color: white;
    transition: 0.2s;
    font-size: larger;
}
.footer a:hover {
    color: #1a7db7;
    transform: scale(1.2);
}
.footer ul{
    text-align: center;
}
.footer pre a:hover {
    padding: 3px;
}
a {
    text-decoration: none;
}
.footer ul li{
    display: inline-block;
}
.desk p  {
    text-align: left;
    padding: 0px 15px;
}
.footer ul li a{
    font-size: 25px;
    color: rgb(76, 108, 155);
    width: 45px;
    height:45px;
    line-height: 48px;
    border-radius: 50% ;
    border: 1px solid rgb(76, 108, 155);
    display: inline-block;
    text-align: center;
    opacity: 0.9
}